*{
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
  box-sizing: border-box;
  background: #333;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#progress {
  position: relative;
  margin-bottom: 30px;
  width: 60vw;
}

#progress-bar {
  position: absolute;
  background: lightseagreen;
  height: 5px;
  width: 0%;
  top: 50%;
  left: 0;
}

#progress-num {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#progress-num::before{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 5px;
  width: 100%;
  background: lightgray;
  z-index: -1;
}

#progress-num .step {
  position: relative;
  border: 3px solid lightgray;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #fff;
  font-size: 15px;
  z-index: 1;
}

#progress-num .step .active {
  border: lightseagreen;
  background: lightseagreen;
  color: #fff;
}

.btn {
  border-radius: 5px;
  padding: 10px;
}